{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Bootstrap Test</h1>
        <h3>Yes</h3>
        <button class="btn-primary btn-lg">Teste</button>
        <div id="reactBase"></div>
    </div>
{% endblock %}